<h1><%- user.username %>'s Profile </h1>
<% if (contributedBooks.length > 0) { %>
    <div>
        <h2>Books uploaded by <%- user.username %></h2>
        <% contributedBooks.forEach(book => { %>
            <div>
                <a href="/books/<%= book.id %>">
                    <img height="150" width="100" src="<%= book.coverImagePath %>">
                </a>
                <%- include('../partials/deleteForm', {url: `/books/${ book.id }`}) %>
            </div>
        <% }) %>
    </div>
<% } %>
<% if (req.user.role === ROLE.ADMIN) { %>
    <%- include('./admin.ejs') %>
<% } %>